# System files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android/Mobile build outputs
*.apk
*.aab
*.ap_
*.dex
*.class

# IntelliJ / Android Studio
.idea/
*.iml
.gradle/
local.properties

# VS Code
.vscode/

# Environment variables
.env
.env.local
*.zip
android/app/build/
android/build/
